/*-- banner-slider --*/
.w3layouts-banner-top{
    background:  linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.7)), url(../img/slides/11111.jpg) no-repeat 0px 0px;
    background-size: cover;	
    background-position: center; 
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	height:580px;
}



.w3layouts-banner-top1{
    background: linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.7)), url(../img/slides/21.jpg) no-repeat 0px 0px;
    background-size: cover;	
    background-position: center; 
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	max-height:580px;
}
.w3layouts-banner-top2{
    background: linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.7)),url(../img/slides/31.jpg) no-repeat 0px 0px;
    background-size: cover;	
    background-position: center; 
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	height:580px;
}
.w3layouts-banner-top3{
    background:linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.5)), url(../img/slides/41.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	height:580px;
}
.w3layouts-banner-top4{
    background: url(../images/7.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.w3l-slide-text {
    margin-top: 13em;
}
.w3l-slide-text h1,.w3l-slide-text h2,.w3l-slide-text h3 {
    color: #fff;
    font-size: 55px;
	font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #292828;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.w3l-slide-text p.heading_bottom{
	border: none;
	color: #eee;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 28px;
	width: 70%;
	margin: 0 auto;
    text-transform: lowercase;
}
 a.button-style {
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-size: 15px;
    border: 1px solid #0D7D40;
    text-transform: capitalize;
	padding: 10px 30px;
	background: #999;
 }
 a.button-style1 {
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-size: 15px;
    border: 1px solid #fff;
    text-transform: capitalize;
	padding: 10px 30px;
 }
 a.button-style1:hover{
	background: #e2b13c;
    border: 1px solid #e2b13c;
 }
 a.button-style:hover{
	background: transparent;
    border: 1px solid #fff;
 }

.slideh4{

	letter-spacing:2px;
}

/*-- //banner-slider --*/





/****** JiSlider css ******/
	#JiSlider {
				width: 100%;
				height: 100%;
			}
.jislider ul {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	list-style-type: none;
}

.jislider ul li {
	position: relative;
	height: 100%;
	float: left;
	overflow: hidden;
}

.jislider__img {
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.jislider__left-arrow {
	position: absolute;
	left: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 60px;
	cursor: pointer;
}

.jislider__left-arrow__top {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(45deg) translateX(10px) translateY(-3px);
	-ms-transform: rotate(45deg) translateX(10px) translateY(-3px);
	transform: rotate(45deg) translateX(10px) translateY(-3px);
}

.jislider__left-arrow__bottom {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(-45deg) translateX(10px) translateY(3px);
	-ms-transform: rotate(-45deg) translateX(10px) translateY(3px);
	transform: rotate(-45deg) translateX(10px) translateY(3px);
}


.jislider__right-arrow {
	position: absolute;
	right: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 60px;
	cursor: pointer;
}

.jislider__right-arrow__top {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(-45deg) translateX(-10px) translateY(-3px);
	-ms-transform: rotate(-45deg) translateX(-10px) translateY(-3px);
	transform: rotate(-45deg) translateX(-10px) translateY(-3px);
}

.jislider__right-arrow__bottom {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(45deg) translateX(-10px) translateY(3px);
	-ms-transform: rotate(45deg) translateX(-10px) translateY(3px);
	transform: rotate(45deg) translateX(-10px) translateY(3px);
}

.jislider__controller {
    position: absolute;
    max-width: 80%;
    padding: 0 30px;
    left:0%;
    right: 0;
    bottom: 3%;
    margin: auto;
    text-align: center;
}

.jislider__button {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff!important;
}
.jislider__button.jislider__on{
	background:#fff !important;
	border:2px solid #fff !important;
}
.jislider__controller {
    width: 200px!important;
}
/*--start-responsive-design--*/
@media (max-width:800px){
	.jislider__left-arrow {
		left: 9px;
	}
	.jislider__right-arrow {
		right: 9px;
	}
}
@media (max-width:600px){
	.jislider__left-arrow {
		position: absolute;
		left: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 30px;
		height: 60px;
		cursor: pointer;
	}
	.jislider__right-arrow {
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 30px;
		height: 60px;
		cursor: pointer;
	}
}
@media (max-width:480px){

	
}
@media (max-width:414px){

}
@media (max-width:384px){

}
@media (max-width:375px){
}
@media (max-width:320px){
.jislider__controller {	}
	.jislider__left-arrow {
		left: 1px;
	}
	.jislider__right-arrow {
		right: 1px;
	}
}