
/* the slider css*/

.flexslider {
		width: 790px;
		margin: 0 auto;
		box-shadow: none;
}

.flexslider li {
		position: relative;
}

.flexslider li .meta {
		position: absolute;
		bottom: 20px;
		left: 20px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-family: 'Roboto', sans-serif;
}

.flexslider li h1 {
		background: rgba(51, 51, 51, 0.5);
		padding: 12px 18px 12px;
		margin-bottom: 0;
		font-size: 1.8em;
		font-weight: 300;
}

.flexslider li h2 {
		background: rgba(51, 51, 51, 0.5);
		padding: 13px 18px 11px;
		font-size: 1.1em;
		margin-bottom: 0;
		font-weight: 300;
}

.flexslider li .category {
		display: flex;
		flex-direction: row;
}

.flexslider li .category p {
		background: #e43837;
		margin-right: 7px;
		font-size: 1.1em;
		padding: 12px 18px 10px;
		font-weight: 300;
}

.flexslider li .category span {
		background: #e43837;
		margin-top: 17px;
		padding: 8px 12px 0;
		font-size: 0.9em;
		font-weight: 300;
		height: 26px;
}

.flexslider li h1,
.flexslider li h2,
.flexslider li .category p,
.flexslider li .category span {
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutLeft;
		animation-name: fadeOutLeft;
}

.flexslider li.flex-active-slide .meta h1,
.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta .category p,
.flexslider li.flex-active-slide .meta .category span {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2 {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta .category p {
		-webkit-animation-delay: .6s;
		animation-delay: .6s;
}

.flexslider li.flex-active-slide .meta .category span {
		-webkit-animation-delay: .8s;
		animation-delay: .8s;
}

.flex-direction-nav {
		position: absolute;
		top: 0;
		left: 30px;
}

.flex-direction-nav a {
		text-decoration: none;
		display: block;
		width: 30px;
		height: 30px;
		background-color: #333;
		margin: -20px 0 0;
		position: absolute;
		top: 50px;
		z-index: 10;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		color: #fff;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
		text-align: left;
		left: -10px;
}

.flex-direction-nav .flex-next {
		text-align: right;
		left: 30px;
}

.flexslider:hover .flex-prev {
		left: -10px;
}

.flexslider:hover .flex-next {
		left: 30px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
		opacity: 1;
}

.flex-direction-nav a:before {
		font-family: FontAwesome;
		content: '\f104';
		font-size: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: 0;
		padding: 2px;
		font-size: 19px;
    line-height: 27px;
}

.flex-direction-nav a.flex-next:before {
		content: '\f105';
}

@-webkit-keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@keyframes fadeInLeft {
		0% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
		100% {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
		}
}

@-webkit-keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes fadeOutLeft {
		0% {
				opacity: 1;
		}
		100% {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

/* / the slider css */














body{
	background: #FFF;
	padding-bottom: 0px;
}

.nhead{
	text-align: left;
	margin-top: 100px;
	font-size: 70px !important;
}

.nparagraph{
	font-size:20px !important;
	text-align:left;
	margin-top:-20px;
}

button.slide-button{
	margin-right:200px;
	margin-top:20px;
	border-radius:50px
	padding:5px;

}

.nav-button{
	margin-top:-12px;
}

.moving-up{
	margin-top: -220px;
	color:#FFF;
}

.lift-up{
	margin-top:-100px;
	text-align:left;
	padding-left:40px;
	
}

h1.lift-up{
	font-size:60px !important;
}

.para-slide{
	font-size:16px;
	text-align:left; 
}


.slideview{
	color:#0d7d45;
	font-family: lato;
	margin-left: -30px;	
}
.bmac{
	font-family: lato !important;
	font-size: 150px !important;
}

.heading{
	font-family: Lato !important;
	font-weight: bold;
	font-size: 40px !important;
	
}

.fprice{
	margin-top: -10px;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

#nav > li > a{
	color:#0d7d45;
}

#nav > li > a:hover{
	color:#333;
}

.carousel-caption > div > h2 > .first{
	font-size: 120px;
	font-family: lato;
	
}
.navbar-inverse{
	background:#ffffff;
	color:#0d7d40;
	border:none;
	
}



header{
	border:none;
}

#logo{
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color:#0d7d40;
}
.slidetitle{
	font-size: 50px !important;
}

.get{

	font-size: 30px;
}


.bmacsoftware{
	background:#FFF;
	color:#000;
	font-family: lato;
	font-size: 14px;
}
.myp{
	font-size: 18px;
	font-family: lato;
	color:#000;

}

h3.myh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 1.7em;
	
}

h1.myh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 2.7em;
	
}


 .myhh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 45px !important;
	
}

.prof-two{
	background: hsla(0, 0%, 100%, 0.4);
	margin-top: -70px;
	padding:20px 5px 40px 5px;
	margin-bottom: -80px;
}



.imgone{
	width:50%;
	height:auto;

}


.imgtwo{
	width:40%;
	height:auto;
	margin-top:-50px;


}

.fourme{
	margin-top:-60px
}

.imgthree{
	margin-top:100px;
	width:30%;
	height:auto;	
	
}

.imgfour{
	margin-top:150px;
	
}
.middle{

	padding-top:50px;
	padding-bottom:50px;
}

.middle > h3{
	color:#0d7d40;
	font-family: lato;
}

.footclose{
	background: #0d7d40;
	color:#fff;
	font-family: lato;
	font-size: 14px;
	height: 80px;
	line-height:80px;

}

.imgfive{
	margin-top: 187px;
	margin-left:20px;
}

.row2{
	margin-top:100px;

}
.imghouse{
	margin-top: 200px;
}

.imgconnect{
	margin-top: 50px;
}

.imgchart{
	margin-top: 50px;	
}

.padding-0{
    padding-right:0px;
    padding-left:0px;
}


.listbmac{
	background: #fff;
	font-family: lato;
	color:#000;
	font-size: 16px;
}

.subscribe{
	background: #0d7d40;
	font-family: lato;
	font-weight: bolder;
}

.formletter{
	background:#fff;
	color:#000;
	font-family: lato;
	font-size: 18px;
	text-align: center;
}

.footh > h4{
	color:#000;
	font-family: lato;


}


.footh{
		background:hsla(0,0%,0%,0);
		color:#000;
}

.footh > ul{
	color:#000;
}

.rowfoot{
	padding-left:150px;
	padding-top:100px;
}

.rowmargin{
	margin-left::;px;
}

.footall > h4{
	color:#000;
	font-family: lato;
	font-weight: bolder;
	padding:2px;
	text-align: center;
	margin-top: 100px;

}

.footpara > a{
	font-family: lato;
	color:#000;

}

.footpara > a:hover{
	font-family: lato;
	color:#ccc;

}
.featured{
	background: hsla(0, 0%, 90%,0.9);
	padding-top:10px;
	padding-bottom: ;
}

.footnote{
	background: #fff;
	margin-top:-30px;
	padding-top:50px;
	padding-bottom:50px;
	color:#333;
	font-family: lato;
	font-size: 12px;
}


.fafoot{
	font-size: 30px;
	color:#0d7d45;
}

.fafoot:hover{
	font-size: 30px;
	color:#ccc;

}
.icon{
	padding-top:30px;
}

.marquee{
	color:#000;
	font-weight: bolder;
	font-family: lato;
	width:80%;
}

.collabo{
	margin-right:164px; 
	color:#000;
	font-family: lato;
}

.hrdiv{
	color:#000;
	font-family: lato;

}
.notebook{
	margin-left:250px;
	font-family: lato;
	color:#000;
}

.cloud{
	margin-left:50px;
	color:#000;
	font-family: lato;

}

.town{
	margin-left:180px;
	color:#000;
}

.placeholder{
background: url(../img/parallax/inner-img.png);
background-attachment: fixed;
background-repeat: cover;
min-height: 200px;

}


.placeholder404{
background: url(../img/parallax/444.png) !important;
background-repeat:cover;

}

.placeholder500{
background-image:url('../img/500.png');
background-repeat:no-repeat;
background-position:center;


}

.center-image{
	margin-top:45%;
	margin-left:45%;
}


.priceh3{
	margin-top: -50px;
}
.price-title{
  color:#fff;
  font-weight: bolder;
  background: hsla(0,100%,100%,0);

}

.panel-head{
	background: #fff;
	border-radius: 0px;
	border: 1px solid #0d7d45;
	
}

.priceh > h3{
	color:#0d7d45;
	font-weight: bolder;
}



.panel-price{
	border-bottom-right-radius:40px; 
	border-bottom-left-radius: 0px;
}

.p-price{
	color:#000;
}


.footprice-background{
	background: #0d7d45;
}

.learn-price{
	color:#0d7d45;

}

.learn-price:hover{
	color:#000;
	
}

.panel-head:hover{
	 box-shadow: 5px 10px #888888;
	 border: 1px solid #0d7d45;
	 background: #ccc;
	 
}


.price-background{
	background: #FFF;
	padding-top:50px;

}

h1.price-title{
  color:#fff;
  font-weight: bolder;
  font-size:70px;
  background: hsla(0,100%,100%,0);
  font-family: lato;

} 



















@media  screen and (max-width: 700px) {


.learn-sm{
	font-size: 12px;
}

	.imgfive{
		margin-top: 170px;
		margin-left:20px;
	}

	.slidetitle{
		font-size: 30px !important;
	}


	.collabo{
		margin-right:164px; 
		color:#000;
		font-family: lato;
		font-size: 10px;
	}

	.hrdiv{
		color:#000;
		font-family: lato;
		font-size: 10px;

	}
	.notebook{
		margin-right:550px;
		font-family: lato;
		color:#000;
		font-size: 10px;
	}

	.cloud{
		margin-left:50px;
		color:#000;
		font-family: lato;
		font-size: 10px;

	}

	.town{
		margin-left:180px;
		color:#000;
		font-size: 10px;
	}










}


@media  screen and (min-width: 300px) and (max-width: 700px) {

.carousel-caption > div > h2 > .first{
	font-size: 40px;
	text-shadow: 6px 6px #0d7545;
}
	.collabo{
		margin-right:164px; 
		color:#000;
		font-family: lato;
		font-size: 5px;
	}

	.hrdiv{
		color:#000;
		font-family: lato;
		font-size: 5px;

	}
	.notebook{
		margin-right:0px;
		margin-left:0px;
		font-family: lato;
		color:#000;
		font-size: 5px;
	}

	.cloud{
		margin-left:50px;
		color:#000;
		font-family: lato;
		font-size: 5px;

	}

	.town{
		margin-left:0px;
		color:#000;
		font-size: 5px;
	}

.bmac{
	font-family: Brush Script MT !important;
	font-size: 30px !important;
}

.heading{
	font-family: Lato !important;
	font-weight: bold;
	font-size:18px !important;
	
}

.nhead{
	text-align: left;
	font-size: 18px !important;
}

.nparagraph{
	font-size:10px !important;
	text-align:left;
	margin-top:-20px;
}

h3.fourme{
	font-size:20px;
	margin-top: 100px;

}

button.slide-button{
	margin-right:200px;
	margin-top:20px;
	border-radius:50px
	display:none;
	padding:5px;

}

.nav-button{
	margin-top:-12px;
}


.lift-up{
	margin-top:-100px;
	text-align:left;
	padding-left:40px;
	
}

h1.lift-up{
	font-size:30px !important;
}






}







@media  screen and (max-width: 299px){

h1.lift-up{
	font-size:30px !important;
}



button.slide-button{
	margin-left:25px;
	

}



}