/* custom */
.center-button{
    margin: auto;
    display: block;
}
/*Preloader page ----------------------------------------*/

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #eee;
    opacity: 0.7;
}

#loading-center-page {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}


/* sign-in start here  */

button:focus {
    text-decoration: none;
    outline: none!important;
    border: none;
    box-shadow: none!important;
}

button:active {
    outline: none!important;
    border: none;
}

.body-wrapper {
    background-color: #999999!important;
}

.acc-x1 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

@media (max-width: 320px) {
    .acc-x2 {
        position: absolute!important;
        top: 220px!important;
        left: 25px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 12px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 30px!important;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .acc-x2 {
        position: absolute!important;
        top: 280px!important;
        left: 28px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .bmac-txt {
        font-size: 14px!important;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .acc-x2 {
        position: absolute!important;
        top: 290px!important;
        left: 32px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 36px!important;
    }
}

@media (min-width: 376px) and (max-width: 384px) {
    .acc-x2 {
        position: absolute!important;
        top: 290px!important;
        left: 36px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 36px!important;
    }
}

@media (min-width: 385px) and (max-width: 412px) {
    .acc-x2 {
        position: absolute!important;
        top: 290px!important;
        left: 45px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 36px!important;
    }
}

@media (min-width: 413px) and (max-width: 414px) {
    .acc-x2 {
        position: absolute!important;
        top: 400px!important;
        left: 55px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
}

@media (min-width: 415px) and (max-width: 480px) {
    .acc-x2 {
        position: absolute!important;
        top: 400px!important;
        left: 85px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
}

@media (min-width: 599px) and (max-width: 640px) {
    .acc-x2 {
        position: absolute!important;
        top: 200px!important;
        left: 45px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .acc-x2 {
        position: absolute!important;
        top: 270px!important;
        left: 42px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
    .acc-x1 img {
        max-width: 100%!important;
    }
}

@media (min-width: 769px) and (max-width: 800px) {
    .acc-x2 {
        position: absolute!important;
        top: 270px!important;
        left: 42px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    .acc-x2 {
        position: absolute!important;
        top: 290px!important;
        left: 58px!important;
        text-align: center!important;
        color: #ffffff!important;
        font-family: Ubuntu, sans-serif;
    }
    .acc-x2 .bmac-txt {
        font-size: 14px!important;
    }
    .acc-x2 .bmac-r1 {
        font-size: 32px!important;
    }
}

.acc-x1 img {
    max-width: 100%!important;
    height: auto!important;
}

.acc-x2 {
    position: absolute!important;
    top: 450px;
    left: 100px;
    text-align: center!important;
    color: #ffffff!important;
    font-family: Ubuntu, sans-serif;
}

.bmac-r1 {
    font-weight: 700;
    margin-bottom: 0px!important;
    font-size: 42px;
}

.bmac-txt {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
}

.btn-more {
    border-radius: 25px;
    background-color: #007B40!important;
    color: #fff!important;
    font-weight: 700;
    font-family: Ubuntu, sans-serif;
    padding: 10px 25px;
}

.btn-acc a {
    text-decoration: none;
    color: #fff!important;
    font-size: 16px;
    font-weight: 700;
    font-family: ubuntu, sans-serif;
    text-decoration: none!important;
}

.btn-acc a:hover {
    color: #fff!important;
    text-decoration: none!important;
}

.btn-more:hover {
    opacity: 0.9!important;
    color: #fff!important;
}

.mp-x1 {
    background-color: #999999!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    text-align: center!important;
}

.sign-up1 img {
    text-align: center!important;
    margin-top: 16%;
    width: 15%;
    margin-bottom: 25px;
}

.sign-area {
    background-color: #fff!important;
    text-align: center!important;
    border-radius: 6px;
    padding-top: 30px;
    width: 400px;
    margin: 0 auto;
    clear: both;
}

.sign-area .inside-x1 {
    padding: 10px 40px 0px 40px;
}


/* 
.sign-p1 {
    margin-left: 100px;
    margin-right: 100px; 
}

.sign-p1 .inside-x1 {
    padding: 1px 40px 1px 40px;
    width: 0 auto!important;
} */

.form-x1 {
    padding: 10px 15px 10px 15px!important;
    border-radius: 6px;
    font-family: ubuntu, sans-serif;
}

form-group label {
    font-family: ubuntu!important;
}

select .form-x1 {
    padding: 10px 15px 20px 15px!important;
    border-radius: 6px;
    font-family: ubuntu, sans-serif;
}

input[type=text]:focus,
.form-x1:focus {
    box-shadow: 0 0 5px rgb(0, 118, 50)!important;
    border: 1px solid rgb(0, 118, 50)!important;
    background-color: #fff!important;
}

.checkbox .dx-r1 {
    font-size: 12px!important;
    float: left;
}

.checkbox input[type=checkbox] {
    margin-right: 5px!important;
    vertical-align: -2px;
}

.log-x1 {
    padding-right: 15px;
    padding-left: 15px;
}

.log {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.log input {
    font-size: 12px!important;
}

.log a {
    font-size: 12px;
    color: #000!important;
    text-decoration: none!important;
    float: right!important;
}

.log a:hover {
    text-decoration: underline!important;
    color: #444343!important;
}

.log-x1 {
    padding-bottom: 20px;
}

.btn-signup {
    border-radius: 25px;
    background-color: #007B40!important;
    color: #fff!important;
    font-weight: 700;
    font-family: Ubuntu, sans-serif;
    padding: 10px 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.btn-signup:hover {
    opacity: 0.9!important;
    color: #ffff!important;
}

.btn-up a:hover {
    color: #fff!important;
}

.btn-up a {
    text-decoration: none;
    color: #fff!important;
    font-size: 16px;
    font-weight: 700;
    font-family: ubuntu, sans-serif;
    text-transform: uppercase!important;
}

.acct-up {
    margin-top: 30px!important;
    margin-bottom: 30px;
}

.acct-up h2 {
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #fff!important;
    font-weight: 500;
}

.acct-up a {
    color: #007B40!important;
    text-decoration: underline;
}

.acct-up a:hover {
    text-decoration: underline!important;
    color: #007B40!important;
    opacity: 0.7;
}


/* media query starts here  */

@media (max-width: 768px) {
    .sign-up1 img {
        width: 30%!important;
    }
    .mp-x1 {
        padding: 0px 20px!important;
        padding-bottom: 30px!important;
    }
    .sign-area {
        width: 300px!important;
    }
    .checkbox .dx-r1 {
        font-size: 10px!important;
    }
    .log a {
        font-size: 10px!important;
    }
    .sign-p1 {
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    .bmac-r1 {
        font-size: 36px!important;
        font-weight: 500;
    }
}


/* sign-in ends here  */


/* sign-up starts here  */

.sign-x1 img {
    text-align: center!important;
    margin-top: 5%;
    width: 15%;
    margin-bottom: 15px;
}

.sign-p1 {
    background-color: #fff!important;
    text-align: center!important;
    border-radius: 6px;
    padding-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-top: 6px solid #007B40;
}

.sign-p1 .inside-x1 {
    padding: 1px 40px 1px 40px;
    width: 0 auto!important;
}

.btn-in {
    background-color: transparent!important;
    border: 1px solid #007B40!important;
    font-family: Ubuntu, sans-serif;
    border-radius: 6px!important;
    color: #007B40!important;
    margin-left: 6px;
}

.btn-in:hover {
    color: #fff!important;
    background-color: #007B40!important;
}

.acct-down {
    margin-top: 30px!important;
}

.acct-down span {
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #fff!important;
    font-weight: 500;
}

.acct-down a {
    color: #007B40!important;
}

.acct-down a:hover {
    color: #fff!important;
    text-decoration: none;
}

select.form-control:not([size]):not([multiple]) {
    height: 1%!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

select .form-x2 {
    border-radius: 6px!important;
    font-family: ubuntu, sans-serif;
    padding-left: 10px!important;
}

input[type=text]:focus,
.form-x2:focus {
    box-shadow: 0 0 5px rgb(0, 118, 50)!important;
    border: 1px solid rgb(0, 118, 50)!important;
    background-color: #fff!important;
}


/* sign-up ends here  *

    /* welcome page starts here  */

.wc-color {
    background-color: #f9f9f9!important;
}

.wc-body {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.wc-head {
    text-align: center!important;
    padding-top: 55px;
}

.wc-head img {
    width: 12%;
}

.wc-head .wc-col {
    font-size: 15px!important;
    padding-top: 4px;
}

.wc-txt {
    margin-bottom: 15px;
}

.wc-wrapper {
    margin-top: 20px;
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.wc-x1 {
    border-radius: 8px;
    /* border-top: 2px solid #007B40!important; */
    box-shadow: 1px 1px 1px 1px rgb(189, 189, 189);
    background-color: #fff!important;
    text-align: center!important;
    font-size: 14px;
    font-family: ubuntu, sans-serif;
    padding-bottom: 35px;
    padding-top: 5px;
    margin: 8px 100px 8px 100px!important;
}

.congrat img {
    width: 20%;
    background-color: #f9f9f9;
    border-radius: 50%;
    padding: 15px!important;
    margin-top: 25px;
    margin-bottom: 15px;
}

.wc-x1 .wc-x3 {
    color: #545454!important;
    font-size: 26px;
}

.wc-x1 .wc-x4 {
    color: #545454!important;
    font-size: 14px;
}

.wc-x1 .wc-x5 {
    color: #545454!important;
    font-size: 14px;
}

.wc-x5 img {
    width: 5%;
    margin-top: -5px;
}

@media (max-width: 768px) {
    .wc-x1 {
        margin: 8px 30px 8px 30px!important;
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .wc-x1 .wc-x2 {
        font-size: 24px!important;
    }
    .wc-x1 .wc-x3 {
        color: #545454!important;
        font-size: 16px!important;
    }
    .wc-x1 .wc-x4 {
        color: #545454!important;
        font-size: 12px!important;
    }
    .wc-x1 .wc-x5 {
        font-size: 12px!important;
    }
    .qs-x1 {
        max-width: 80%!important;
    }
    .qs-x1 .qs-know {
        font-size: 14px!important;
    }
    .qs-x1 .qs-grow {
        font-size: 14px!important;
    }
    .btn-continue {
        padding: 6px 15px!important;
        font-size: 14px!important;
    }
    .wc-head img {
        width: 22%!important;
    }
    .congrat img {
        padding: 8px!important;
        width: 30%;
    }
}

@media (max-width: 481px) {
    .btn-back {
        display: none!important;
    }
}


/* question 1 starts here  */

.qs-x1 {
    border-radius: 8px;
    /* border-top: 2px solid #007B40!important; */
    box-shadow: 1px 1px 1px 1px rgb(189, 189, 189);
    background-color: #fff!important;
    text-align: left!important;
    font-size: 14px;
    font-family: ubuntu, sans-serif;
    padding: 25px 30px 35px 30px;
    margin: 15px auto!important;
    max-width: 50%;
}

.btn-skip {
    background-color: transparent!important;
    margin-bottom: 6px;
    color: #000!important;
}

.btn-skip:hover {
    color: #000!important;
    border: 1px solid #000!important;
    border-radius: 4px!important;
}

.skip a {
    color: #545454!important;
    text-decoration: none;
}

.skip .fa {
    padding-left: 5px;
}


/* question 2 starts here */

.qs-grow {
    font-size: 18px!important;
}

.qs-know {
    font-size: 18px!important;
    background-color: #f9f9f9;
    padding: 12px;
    color: #545454!important;
    margin-bottom: 15px!important;
    border-radius: 4px;
}

.btn-qs {
    text-align: center!important;
    padding-top: 7px;
}

.btn-back {
    background-color: transparent!important;
    color: #000;
    font-size: 16px;
}

.btn-continue {
    border-radius: 50px;
    border: 1px solid #007B40!important;
    padding: 8px 25px;
    background-color: #007B40!important;
    color: #fff;
    font-size: 16px;
}

.btn-continue:hover {
    background-color: rgb(3, 105, 56)!important;
}

.btn-back:hover {
    color: #000;
}

.btn-back .fa {
    padding-right: 5px;
}


/* styling for loader starts here  */


/* .loader {
    display: none;
} */

html,
body {
    height: 100%;
}


/* body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-radial-gradient(#a0a0a0, #000000);
    background: radial-gradient(#333333, #000000);
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
} */

.loader {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg) rotate(45deg);
    transform: rotateX(45deg) rotate(45deg);
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: rgb(0, 255, 64);
    box-shadow: 112.5px 112.5px 20px rgb(90, 90, 90);
    -webkit-animation: move 3s ease-in-out infinite both;
    animation: move 3s ease-in-out infinite both;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.box:nth-child(1) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.box:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

.box:nth-child(3) {
    -webkit-animation-delay: -4.5s;
    animation-delay: -4.5s;
}

.box:before,
.box:after {
    display: block;
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
}

.box:before {
    top: 100%;
    left: 0;
    background: rgb(0, 199, 76);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.box:after {
    top: 0;
    left: 100%;
    background: rgb(0, 122, 6);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

@-webkit-keyframes move {
    0%,
    100% {
        -webkit-transform: none;
        transform: none;
    }
    12.5% {
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0);
    }
    25% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0);
    }
    37.5% {
        -webkit-transform: translate(60px, 30px);
        transform: translate(60px, 30px);
    }
    50% {
        -webkit-transform: translate(60px, 60px);
        transform: translate(60px, 60px);
    }
    62.5% {
        -webkit-transform: translate(30px, 60px);
        transform: translate(30px, 60px);
    }
    75% {
        -webkit-transform: translate(0, 60px);
        transform: translate(0, 60px);
    }
    87.5% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px);
    }
}

@keyframes move {
    0%,
    100% {
        -webkit-transform: none;
        transform: none;
    }
    12.5% {
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0);
    }
    25% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0);
    }
    37.5% {
        -webkit-transform: translate(60px, 30px);
        transform: translate(60px, 30px);
    }
    50% {
        -webkit-transform: translate(60px, 60px);
        transform: translate(60px, 60px);
    }
    62.5% {
        -webkit-transform: translate(30px, 60px);
        transform: translate(30px, 60px);
    }
    75% {
        -webkit-transform: translate(0, 60px);
        transform: translate(0, 60px);
    }
    87.5% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px);
    }
}


/* styling for loader ends here */


/*----------------------------------------
/*------Link reset start here ---------------*/

.link-r1 {
    background-color: #f9f9f9!important;
}

.link-reset {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.lr-top img {
    width: 11%;
    margin: 0 auto!important;
}
.img-top{
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
    display: block;
}

.lr-top {
    text-align: center!important;
    padding-top: 65px;
}

.lr-top .biz-col {
    padding-top: 10px;
    font-family: ubuntu, sans-serif;
    font-size: 11px;
    padding-bottom: 12px;
}

.lr-top h2 {
    font-family: ubuntu, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #545454!important;
}

.inside-x1 h2 {
    margin-bottom: 12px;
    margin-top: 10px;
}

.btn-pwrd {
    border-radius: 50px;
    border: 1px solid #007B40!important;
    padding: 8px 25px;
    background-color: #007B40!important;
    color: #fff;
    font-size: 16px;
}

.lr-password {
    padding-bottom: 28px;
    padding-top: 12px;
}

.btn-pwrd:hover {
    background-color: rgb(3, 105, 56)!important;
    color: #fff!important;
}

.lr-bottom {
    padding-top: 22px;
    padding-bottom: 12px;
}

.lr-bottom .lr-x4 {
    color: #545454!important;
    font-size: 14px;
}

.lr-bottom .lr-x5 {
    color: #545454!important;
    font-size: 14px;
    display: inline!important;
}

.lr-x5 img {
    width: 5%;
   margin-top: -7px!important;
}
.lr-x5 .lr-img{
    margin-top: -5px;
}

.lr-shadow {
    box-shadow: 0px 0px 12px 0px #B6B6B6
}


/*------Link reset ends here ---------------*/


/*------Link sent starts here ---------------*/

.inside-x1 .link-x1 {
    color: #007B40!important;
    font-weight: 900;
    font-size: 29px;
}

.link-idea img {
    width: 30%;
    height: auto;
    opacity: 0.8
}

.link-idea {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*------Link sent ends here ---------------*/


/*------reset-password starts here ---------------*/

.rp-x1 {
    border-top: 6px solid #007B40;
}

.reset-wrd {
    color: #545454!important;
    font-weight: 900;
    font-size: 29px;
}


/*------reset-password ends here ---------------*/
