.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body{
	padding-bottom: 0px;
}

.backhome{
	color:#097a47;
}

.backhome:hover{
	color:#c7ef00;
}


#first-image{
	background: url('../img/image1.png');
	background-repeat:no-repeat;
	background-size:cover;

	
}

#imsinner{
	background: url('../img/warehouse.png');
	
	background-size:contain;
	padding-bottom: 500px;
	margin-bottom:-20px;
}
.imsbutton{
	background: #FF0000;
	color:#fff;
	font-family: lato;
	font-weight: bolder;
	border-style: none;

}


#imsp{
	font-size: 23px;
}
.ims{
	padding-top:100px;
	padding-bottom: -300px; 
	max-height: 200px;
}

#second-image{
	background-color: #E5E5E5;
	padding-right: 100px;
	padding-left:100px;
}


#second{
	background-color: #E5E5E5;
	padding-right: 50px;
	padding-left:50px;
}

.colpad{
	padding-left: 50px;
	padding-bottom: 135px;

}

/* .colpad2{
	padding-left: 50px;
	padding-bottom: 135px;

}
 */
.colpad2{
	padding-left: 50px;
	padding-bottom: 360px;
	margin-bottom: 0px;

}

.margin{
	margin-top:50px;
}

.margin > h2{
	font-family: lato;
	font-weight: bolder;
	color:#fff;
}
.margin > p{
	font-family:lato;
	color:#fff;
	font-size:18px;
}

.buttonpad{
	padding-bottom: 20px;
	padding-top:20px;
}

button.mybutton{
	background: #C7EF00;
	border-radius: 10px;
	color:#000;
	font-family: lato;
	font-weight: normal;
	padding-top:1px;
	padding-right:15px;
	padding-bottom:1px ;
	padding-left: 15px;
	margin-bottom: 50px;
	font-size:16px;
}

.margin2{

	margin-top:50px;
}

.margin2 > h1,h3{

	font-family: lato;
	font-weight: normal;
	color:#097A47;
}

.margin2 > h5{
	font-size:20px;
	font-weight: bolder;
}

.divform{
	margin-top: 50px;
}

.myform{
	border-radius: 0px;

}

.submit{
	color:#fff;
	background: #097A47;
}

.forgot{
	color: #757575;
}

.hr{
	margin-top:50px;
	background: #FFF;
	border-top: 2px solid #fff;
}

.subsign{
	background: #fff;
	color:#097A47;
}