body{
    background: url('../images/about-bg.png');
    padding: 0;
    margin: 0;
  }
  .b1{
    font-family: Calibri;
    background-color: #fff;
    box-shadow: 1px 1px 6px 1px rgb(240, 240, 240);
    /* height: 60px; */
    display: flex;
    align-items: center;
    padding: 0.8rem 10rem;
  }
  .b2    a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #f30d12 !important;
  }
  .a{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5em 1em;
    font-family: Calibri;
  }
  .a1{
    width: 50%;
    order: 1;
  }
  .a2{
    width: 30%;
    order: 2;
  }
  .a11{
    color: #f30d12;
    font-size: 12rem;
    font-weight: bold;
  }
  .a12{
    color: #f30d12;
    font-size: 2.5rem;
    font-weight: normal;
    width: 70%;
    margin-bottom: 0.3rem;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .a13{
    color: #f30d12;
    /* text-transform: capitalize; */
    font-weight: bold;
    width: 60%;
    margin-bottom: 5px;
  }
  .a14{
    color: #f30d12;
    font-size: 20px;
    /* text-transform: capitalize; */
    /* font-weight: bold; */
    width: 60%;
  } 
   .a14c{
    color: #f30d12a6;
  }

    
  .a21 img{
  width: 100%;
  height: auto
  }