 /*New update from 08/06/2017*/
 .panel-body {
    padding: 3px!important;
}

.panelf .tablef td, .panelf .tablef th {
    padding: 4px!important;
    font-size: 10px!important;
}

.pbody {
  padding: 18px!important;
    background-color: black !important;
}
 /*New update from 08/06/2017*/



/*Dashboard setting Modal*/
label.checkbox-inline {
  background-color: rgba(220, 223, 212, 0.26)!important;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 10px !important;
  margin-right: 2%;
  margin-left:0;
  padding: 10px 10px 10px 30px;
  transform: scale(1.0);
}
label.checkbox-inlinee {
  background-color: none!important;
    cursor: pointer;
    padding: 0px 2px 7px 33px;
    transform: scale(1.0);
}
label.radio-inline.checked, label.checkbox-inline.checked {
  background-color: #266c8e;
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin-left: 0;
}
.columns label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 30%;
  max-height: 82px;
  height: 82px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 650px!important;
        margin: 30px auto!important;
    }
}

.checkAll {
    border-bottom: 1px solid #e4e4e3;
    margin-bottom: 15px;
}


/* .touchcheckbox */
.touchcheckbox label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 8px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.all-style {
    position: relative;
    bottom: 8px;
}
.touchcheckbox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #305f0a;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.touchcheckbox label:hover::after {
  opacity: 0.5;
}
.touchcheckbox input[type=checkbox] {
  visibility: hidden;
}
.touchcheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .touchcheckbox */
* {
  box-sizing: border-box;
}

body {
  background: #3498db;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
body h1, body h2, body em {
  color: #eee;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #000;
}
body em {
  font-size: 14px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
body .ondisplay {
  text-align: center;
  padding: 20px 0;
}
body .ondisplay section {
  width: 100px;
  height: 100px;
  background: #555;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
body .ondisplay section:after {
  /*         visibility: hidden; */
  content: attr(title);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #000;
}

/*Dashboard setting Modal*/






.box {
    padding: 0px 0px 0px 0px;
}
.box .inner {
    /*height: 300px;*/
    width: 600px;
    margin: 20px!important;
}

.chartContainer {
    position: relative!important;
}

.panel {
    height: 335px!important;
    width: 420px!important;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: rgba(229, 253, 242, 0.52)!important;
    text-align:center!important;
}

.panel.panel-default {
    border-color: #e3fff2!important;
}

.long-widget-title {
    font-size: 12px!important;
}

.x-long-widget-title {
    font-size: 11px!important;
}

.modal-header {
    background-color: rgba(229, 253, 242, 0.52)!important;
}

.checkbox-style {
    margin: 0px 0px 0px 45%!important;
}

.form-control {
    background-color: rgba(229, 253, 242, 0.52)!important;
}

.form-horizontal .control-label {
    padding-top: 10px!important;
    padding-bottom: 0px!important;
    margin-bottom: 0!important;
    text-align: center!important;
}

/*      *** styling status ***   */
 .y-status-container{

 }
 .wrapper-lg-launch.y-status-container .item{


     width: 32%;
 }
 .y-status-container .alert.y-status{
     /*background: #dfcc8b;*/
     font-weight: bold;
     width: 100%;
     color: #fff;


 }


















