.y-rebrand-logo{
    width: 5em;
    height: auto;
}
.y-technologies{
}
p.y-pfor-business-collab{
}
p .y-business-collaboration{
    font-size: .7em;
    font-style: italic;


}
.y-footer-down{
    margin-top: 1em;
}
.y-white{
    color: #fff;
}
.y-small-text{
    font-size: .7em;
}
#thanks-btn{
    margin-top: 10%;
}
.y-bmac-brand{
    /*color: #0d7d40;*/
    font-size: 1.6em;
    font-size: bolder;

}
.navbar-header .y-use-green-bmac{
    color: #0d7d40;

}
