/* Styled by Festus */
@media (min-width: 768px){

    .bg-primary.dk, .bg-primary .dk {
        z-index: 3;
        background-color: #fff !important;
        height: 70px;
        -webkit-box-shadow: 0px 1px 9px 1px rgba(209,209,209,1);
        box-shadow: 0px 1px 9px 1px rgba(209,209,209,1);
        color: #8e8b8f;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .navbar-header {
        float: unset;
    }

    .navbar-nav {
        float: unset;
        margin: 0;
        color: #000000;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.1px;    
    } 
    
    .ml-auto{
         margin-left: auto;
         
        }

    .b-r {
        border-right: none;
        -webkit-box-shadow: 0px 1px 9px 1px rgba(209,209,209,1);
        z-index: 3;
        box-shadow: 0px 1px 9px 1px rgba(209,209,209,1);
    }

    .lter section.vbox {
        box-shadow: 0px 1px 9px 1px rgba(209,209,209,1);
        z-index: 5;
    }

    .pos-static{
        height: 100%;
        z-index: 1;
    }

    .app .vbox>section{
        position: relative;
        top: 0;
    }

    aside section.vbox{
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: flex-end;
    }

    aside section.vbox footer{
        position: static !important;
    }

    .w-f nav{
        /* border: solid #f30d12 1px; */
    }

    .nav-primary ul.nav>li>a{
        border: none;
    }

    .nav-primary ul.nav>li:hover>a,
    .nav-primary ul.nav>li:focus>a,
    .nav-primary ul.nav>li>a:hover,
    .nav-primary ul.nav>li>a:focus,
    .nav-primary ul.nav>li>a:active,
    .nav-primary ul.nav>li.active>a {
        color: #fff;
        background-color: green;
        background-color: rgba(0,0,0,0.05) !important;
        text-shadow: none;
    }

    .bg-light .nav-primary ul.nav>li>a>i {
        border: none !important;
        font-size: 20px!important;
        color: #4da97f!important;
    }

    .bg-light .nav-primary ul.nav>li{
        margin: 15px 0;
    }
    
    .bg-light .nav-primary ul.nav>li>a>i>b {
        display: none;
    }
    .bg-light .nav-primary ul.nav>li>a>i {
      color: #717171 !important;  
    }

    /* issues */

    .nav-primary ul.nav>li>a {
        padding: 14px 15px;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        border-top: 1px solid transparent;
        border: none;
    }

    /* issues end */

    .nav-primary ul.nav>li>a:hover,
    .nav-primary ul.nav>li>a:focus,
    .nav-primary ul.nav>li>a:active,
    .nav-primary ul.nav>li.active>a {
        border-radius: 4px;
        color: #fff!important;
        font-weight: 500;
        background-color: #f30d12 !important;
        text-shadow: none;
    }

    .nav-primary ul.nav>li>a:hover>i,
    .nav-primary ul.nav>li>a:focus>i,
    .nav-primary ul.nav>li>a:active>i,
    .nav-primary ul.nav>li.active>a,
    .nav-primary ul.nav>li.active>a>i {
        color: #fff!important;
        font-weight: 500;
    }

    .bg-light .nav-primary {
        border: none;
    }

    li.dropdown a.dropdown-toggle {}

    ul.navbar-nav li a.dropdown-toggle{
        color: #000;
        padding: 0;
        margin-right: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 13px;
    }

    li.dropdown a.dropdown-toggle:hover, li.dropdown a.dropdown-toggle:focus {
        background: none;
    }

    .bg-primary .nav .caret {
        border-top-color: #000;
        border-bottom-color: #000;
    }
    
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 7px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }

    li.dropdown .avatar.pull-left {
        width: 36px;
        border: solid #f30d12 1.5px;
        border-radius: 50%;
        margin-top: -9px;
        margin-right: 7px;
        padding: 1.2px;
    }

    .bg-primary .nav>li>a:hover,.bg-primary .nav>li>a:focus {
        color: #8e8b8f !important;
        background: none !important;
    }

    .bg-primary .nav>li>a:hover .caret,.bg-primary .nav>li>a:focus .caret {
        border-top-color: #8e8b8f;
        border-bottom-color: #8e8b8f;
    }

    .dropdown-menu {
        position: absolute;
        top: 130%;
        left: -149%;
        }

    .arrow.top {
        left: 80%;
    }

    section.dash{
        background-color: #FAFAFA !important;
        padding: 10px 20px ;
    }

    div.item {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 170px;
        padding: 30px 15px;
        margin: 10px;
        background: white;
        box-shadow: 2px 3px 7px 0px #e4e4e4;
        border-radius: 10px;
    }   

    div.item a i.fa {
        font-size: 40px !important;
        color: #f30d12; 
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) color;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
    }

    .item span.caption{
        font-weight: 500;
    }

    div.item a:hover i.fa {
        color: #DB3824; 
        transform: scale(1.1);
    }

    ul.nav.lt li{
        margin: 0 !important;
        /* border-bottom: 1px solid #8e8b8f; */
    }

    ul.nav.lt li a{
        margin: 0 !important;
        border-bottom: 1px solid #8e8b8f;
        padding: 8px 15px;
        border-radius: 0;
    }

    ul.nav.lt li a:hover{
        background-color: rgba(243, 13, 17, 0.651) !important;
    }

    .popover-title {
        color: white !important;
        background-color: #f30d38 !important;
        font-weight: bold !important;
    }
    

    .popover-navigation [data-role=next] {
        background-color: #f30d38 !important;
    }

    .panel-info>.panel-heading {

    }

    .panel-info>.panel-heading {
        color: #ffffff;
        background-color: #E01916;
        border-color: #E01916;
        background-image: none !important;
    }

    .panel-info {
        border-color: #E01916;
    }

    .panel {
        border-radius: 4px;
    }

    aside.bg-light.lter.b-r.aside-md{
        position: fixed;
        width: 250px;
        overflow: hidden;
        transition: all .5s;
    }

    .main-body{
        display: block !important;  
        margin-left: 250px;
        transition: all .5s;
    }

    .btn-info {
        color: #fff !important;
        background-color: #AD0003;
        background-image: none;
        border-color: #e2ae9a;
    }

    .btn-info:hover, .btn-info:active {
        background-color: #f30d12;
    }

    .btn-success {
        color: #fff !important;
        background-color: #177502 !important;
        background-image: none;
        border-color: #1ea300 !important;
    }

    .btn-success:hover, .btn-success:active {
        background-color: #1a8d00 !important;
    }

    .datepicker td.active, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active.active {
        background: #f30d12 !important;
    }
    
    .form-control:focus {
        border-color: #f30d12 !important;
    }

    .bg-primary .nav .open>a {
        background: none !important;
    }

    span.toggle{
        width: 24px;
        height: 3px;
        background: #f30d12;
        border-radius: 20px;
        display: block;
        margin-bottom: 4px;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
     }

     .nav-split span.toggle:nth-child(1){
        background: #f30d12;
        width: 18px;
        transform: rotate(45deg) translate(7px, 3px)
     }

     .nav-split span.toggle:nth-child(2){
        background: #f30d12;
        opacity: 0;
     }

     .nav-split span.toggle:nth-child(3){
        background: #f30d12;
        width: 18px;
        transform: rotate(-45deg) translate(7px, -3px)
     }

    .nav-split aside.bg-light.lter.b-r.aside-md{
        position: fixed;
        width: 70px;
        overflow: hidden;
    }
    .nav-split .bg-light .nav-primary ul.nav>li>a>span {
        display: none;
    }

    .nav-split section.w-f.scrollable{
        height: 100%;
    }

    .nav-split .nav-primary ul.nav>li>a {
        border-radius: 0px;
        font-weight: 500;
        background: none;
        background-color: transparent !important;
        text-shadow: none;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .nav-split .nav-primary ul.nav>li>a:active>i, .nav-split .nav-primary ul.nav>li>a:hover>i  {
        color: #f30d12!important;
        }

    .nav-split .nav-primary ul.nav>li.active>a {
        color: #f30d12!important;
    }

    .nav-split .nav-primary ul.nav>li>a>i {
        margin-left: auto;
        margin-right: auto;
    }

    .nav-split .bg-light .nav-primary ul.nav>li {
        margin: 23px 0;
    }

    .nav-split footer.footer.bg-light {
        background-color: #fff !important;
        border: solid red 1px;
    }

    footer.footer.b-light {
        background-color: #fff !important;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-split footer.b-light.lt {
        justify-content: center;
    }
    
    .nav-split .main-body {
        display: block !important;
        margin-left: 70px;
    }

    footer.footer.b-light a {
        display: inline-block;
    }

    .nav-split footer.bg-light.lt a {
    display: inline-block;        
    }

    .nav-split .nav-primary ul.nav>li.active>a>i {
        color: #f30d12!important;
        margin-left: auto;
        margin-right: auto;
    }

    .select2-results .select2-highlighted {
        background-color: #f30d12;
    }

    .select2-drop-active {
        border: 1px solid #f30d12;
        border-top: none;
    }

    .select2-container.select2-container-active .select2-choice {
        border-color: #f30d12;
    }
    
   .main-body .hbox.stretch{
        padding: 5px 10px;
    }

    #feedback a {
        z-index: 200;
    }

    .popover-title {
        color: white !important;
        background-color: #f30d12 !important;
        font-weight: bold !important;
    }    
    
}

@media (max-width: 767px){

    .popover-title {
        color: white !important;
        background-color: #f30d12 !important;
        font-weight: bold !important;
    }


.bg-primary.dk, .bg-primary .dk {
    background-color: #f30d12!important;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 140px;
    min-height: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    margin: 10px;
    background: white;
    box-shadow: 2px 3px 7px 0px #e4e4e4;
    border-radius: 10px;
}   

div.item a i.fa {
    font-size: 34px !important;
    color: #f30d12; 
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) color;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
}

.item span.caption{
    font-weight: 500;
}

div.item a:hover i.fa {
    color: #DB3824; 
    transform: scale(1.1);
}

.popover-navigation .btn-default[data-role=next] {
    background-color: #f30d38 !important;
}

.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #E01916;
    border-color: #E01916;
    background-image: none !important;
}

.panel-info {
    border-color: #E01916;
}

.panel {
    border-radius: 4px;
}
.btn-info {
    color: #fff !important;
    background-color: #AD0003;
    background-image: none;
    border-color: #e2ae9a;
}

.btn-info:hover, .btn-info:active {
    background-color: #f30d12;
}

.btn-success {
    color: #fff !important;
    background-color: #177502 !important; 
    background-image: none;
    border-color: #1ea300;
}


.btn-success:hover, .btn-success:active {
    background-color: #1a8d00 !important;
}

.datepicker td.active, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active.active {
    background: #f30d12 !important;
}

.form-control:focus {
    border-color: #f30d12 !important;
}

.bg-light .nav-primary ul.nav>li>a>i {
    border-right: 1px solid #ececec;
    font-size: 20px!important;
    color: #f30d12!important;
}

i.fa b.dker, i.fa b{
    background-color: transparent;
}

.select2-results .select2-highlighted {
    background-color: #f30d12;
}

.select2-drop-active {
    border: 1px solid #f30d12;
    border-top: none;
}

.select2-container.select2-container-active .select2-choice {
    border-color: #f30d12;
}

.navbar-brand{
    visibility: hidden;
}

#feedback a {
    z-index: 200;
}
}

.popover-navigation .btn-default[data-role=next] {
    background-color: #f30d38 !important;
}

.popover h3.popover-title {
    color: white !important;
    background-color: #f30d38 !important;
    font-weight: bold !important;
}

.modal-backdrop.fade.in{
    display: none !important;
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0,80px,0);
    -o-transform: translate3d(0,80px,0);
    transform: translate3d(0,80px,0);
}