
/*Launch pad*/
	div.item {
	    vertical-align: top;
	    display: inline-block;
	    text-align: center;
	    width: 170px;
	    padding: 15px;
	}
#overview div.item {
	width: 96%;
}
	.img-launch {
		padding-bottom: 10px;
	    font-size: 80px!important;
	}
	.caption {
	    /* Make the caption a block so it occupies its own line. */
	    display: block;
	}

	.wrapper-lg-launch {
	    padding: -10px!important;
	}

	.wrapper-lg {
	    padding: 16px!important;
	}

	.notebook-color {color: #1abc9c;}
	.dashboard-color {color: #e67e22;}
	.reports-color {color: #3498db;}
	.ims-color {color: #795548;}
	.hrm-color {color: #9c27b0;}
	.customer-management-color {color: #cddc39;}
	.my-businesses-color {color: #03a9f4;}
	.supplier-mangement-color {color: #f44336;}
	.my-businesses-banking-color {color: #9e9e9e;}
	.transaction-management-color {color: #8bc34a;}
	.collaborator-color {color: #e91e63;}
	.calendar-color {color: #ff9800;}
	.user-management-color {color: #3f51b5;}
	.tax-color {color: #607d8b;}
	.conversation-color {color: #cddc39;}
	.townhall-color {color: #1abc9c;}
	.calculator-color {color: #795548;}
	.profile-color {color: #03a9f4;}
	.faq-color {color: #e67e22;}
	.support-color {color: #795548;}
	.walk-through-color {color: #3498db;}
	.settings-color {color: #e91e63;}
	.notebook-plus-color {color: #00AA00;}
	.audit-color {color: #EE0AAF;}
/*End Launch pad*/

.vbox {
	background-color: #fff!important;
}

.bg-primary.dk, .bg-primary .dk {
    background-color: #097a47!important;
}

.bg-primary .nav .open>a {
    background-color: #9cce5a!important;
}

.bg-primary .nav>li>a:hover, .bg-primary .nav>li>a:focus {
    color: #fff!important;
    background-color: #9cce5a!important;
}

.bg-light .nav-primary ul.nav>li>a>i {
    border-right: 1px solid #ececec;
    font-size: 20px!important;
    color: #4da97f!important;
}

.bg-light .nav-primary ul.nav>li>a>i:hover, .bg-light .nav-primary ul.nav>li>a>i:focus  {
    color: #fff!important;
}


@font-face {
    font-family: mainfont;
    src: url(../fonts/Swiss_721_SWA.ttf);

}

@font-face {
    font-family: step-count;
    src: url(../fonts/Futura.ttf);

}

/*Victor - BMAC Dashboard v2*/


/* ** Ayo -- Professional page revamp **/


.bmac .business-form{
	border: 2px solid #C4C4C4;
	margin: 2em;
	padding: 2em;
}
 .profile-div{
	border: 2px solid #C4C4C4;
	margin: 2em;
	padding: 2em;
}
 .profile-div p{
	float: right;
}
 .profile-div img{
	width: 7em;
	height: 7em;
	margin: .5em;
}

 .popover-content {
	padding: 0;

	/*background-color: #89CC97;*/
}
.bmac #settings{
	padding: 2em 10em;
}

#list-business .list-group .list-group-item img{
	float: left;
	margin: 1em;

}
.ylist-container{
	background-color: #C4C4C4;

	margin: 2em 12em;
}
.ylist-container-heading{
	background-color: #C9C9C9;
	text-align: center;
	padding: .7em;
}
.ylist{
	list-style: none;
	padding-left: 0;
}
.ylist-item{
	padding: .6em;
	border-bottom: 2px solid #fff;
}
.ylist-item:hover{
	background-color: #f4f4f4;
}
.ylist-item:after {
	content: "";
	display: table;
	clear: both;
}
.ylist-item a {
	text-decoration: none;
}
.ylist-item img{
	float: left;
	padding: .2em 1em;
	width: 5em;
	height: 4em;
	border-radius: 2em;
}
.ylist-item .ylist-item-heading{
	color: #3f4141;
	font-size: 1em;
	font-weight: bold;

}
.ylist-item .ylist-item-heading:hover{
	background-color: inherit;
}
.ylist-item .ylist-item-text{
	font-size: .8em;
	color: #3f4141;


}

 .list-group .list-group-item:hover{
	border-bottom: 2px solid #097A47;
}

 .popover-content ul, .bmac .popover-content div{
	margin-bottom: 0;

}
/*.popover-content  a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading{
    background: blue;
}*/
.popover-content .list-group .list-group-item  .list-group-item-heading{
	font-size: 1em;
	font-weight: bold;

}
.popover-content .list-group .list-group-item  .list-group-item-text{
	font-size: .7em;

}


 .popover-content ul li,  .popover-content div a {
	background-color: #89CC97;
	padding: .3em 1em;
	border: none;
	color: rgb(99, 98, 98);
	font-weight: bold;
}
 .popover-content ul li a,  .popover-content div a{
	color: rgb(99, 98, 98);
	font-weight: bold;

}
 .popover-content .list-group .list-group-item a h4{
	background-color: yellow;
	font-size: 1.2em;
}


 .top-bar{
	color: #fff;
	background-color: #097A47;
}
 .top-nav-bar{
	background-color: #89CC97 ;
	padding: .2em;
	font-weight: bold;
	height: 4em;
}
 .cname{
	color: #fff;
	padding: .4em;
}
 .cname2{
	display: none;
}

 .top-nav .nav-tabs{
	/*border-bottom: none; */
	border-bottom: 3px solid #C4C4C4;
	background-color: #fff;
}
 .top-nav ul li a{
	border: none;
	border-right: 1px solid #C4C4C4;
	color: rgb(99, 98, 98);
}
 .top-nav ul li a.btn{

	border: none;
	color: #4F4F4F;
}

 .top-nav ul li a:hover{
	color: #097A47;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #097A47;
	border-radius: 0;
	margin-right: 0;
	background-color: #89CC97 ;
}
 .top-nav ul li a:active{
	border-left: none;
	border-right: none;
	background-color: #89CC97;
	border-bottom: 3px solid #097A47;

}
 .top-nav ul li.active{

	background-color: #89CC97;
}
 .top-nav ul li.active a{
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #097A47;
	color: #097A47;


	background-color: #89CC97;
}


.bmac .top-nav ul li {
	color: #097A47;

	/* background-color: none !important; */
}

.bmac .top-nav ul li:hover{
	color: #097A47;
	border-bottom: 2px solid #097A47;
	background-color: #fff;
}

.bmac .top-nav-bar p a{
	font-weight: bold;
}
.bmac .top-bar .profile-image{
	width: 2em;
	height: 2em;
	margin: .5em;
}
 .logo{
	width: 5em;
	height: auto;
	margin: .4em .4em .4em 3em;
}
.bmac .top-bar h1{
	font-size: 1.2em;
	font-weight: bold; /* thronica */
}
 form label{
	color: rgb(99, 98, 98);
}

/*  **** Slider ****    */
 .yc.container-fluid{
	padding: 0;
}
 .carousel-inner img{

}
.carousel-inner .slide-content{
	width: 100%;
	min-height: 35em;

	padding: 1.4em;
	margin: 0 auto;
}
.carousel-inner .slide-content .col3{
	background-color: rgb(42, 18, 70);
}
.carousel-inner .item div h1{
	color: #4F4F4F;
	font-size: 1.3em;
	font-weight: bold;
}
 .carousel-inner .item .ikooba{
	color: #097A47;

}
.carousel-inner .item div p{
	font-size: 1.4em;
}
.carousel-inner .item img{
	width: 60%;
	height: 60%;
}
.carousel-inner .item .signup-icon{
	width: 77%;
	height: 77%;
}

.circular{
	display: inline-block;
	color: #fff;
	font-weight: bold;
	background-color: #89CC97;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	line-height: 1.8;
	font-size: 1.2em;
	margin-top: .7em;
}
 .wrap-with-space{
	margin: 4em;
	padding: 2em 5em;
}
 .media-list .media{
	border: 1px solid #89CC97;
	padding: 1em;
}
 #no-carousel{
	display: none;
}


.vbox section {
	overflow: auto;
}



	/*  *** *** Bootstrap customization *** *** */
.bmac .btn{
	color: #fff;
}
.bmac .btn-primary{
	background-color: #219653;


}
.bmac .btn.btn-info{
	background-color: #fff;
	color: #4F4F4F;
	font-weight:  bold;
	border-color: #4F4F4F;
}
.bmac .btn.btn-success{
	background-color: #fff;
	color: #097A47;
	font-weight:  bold;
	border-color: #097A47;
}

.bmac .btn-default{
	background-color: #F2994A;
}
.bmac .btn-danger{
	background-color: #EB5757;
}
.label-primary{
	background-color: #097A47;
}
 .badge{
	background-color: #89CC97;
}
.list-group{
	background-color: #fff;
}
.list-group .list-group-item{
	background-color: #fff;
}



@media all and (max-width: 580px){
	.bmac .logo{
		width: 5em;
		height: auto;
		margin: .2em .2em .2em .4em;
	}
	.bmac .top-bar h1{
		margin: 4px;
		font-size: 1.2em;
		font-weight: bold; /* thronica */
	}
	.bmac .top-nav p a{
		font-size: .8em;
	}
	.bmac .nav li a{
		font-size: .8em;
		padding: 5px;
	}
	.wrap-with-space{
		margin: 1em;
		padding: 1em 1em;
	}
	.media-list .media h4{
		font-size: 1em;
		font-weight: bold;
	}
	 .profile-div{
		padding: .4em;
	}
	 #carousel-example-generic{
		display: none;
	}
	 #no-carousel{
		display: block;
	}


	 #no-carousel  .slide-content{
		width: 100%;
		min-height: 35em;

		padding: 1.4em;
		margin: 0 auto;
	}
	  #no-carousel .item div h1{
		color: #4F4F4F;
		font-size: 1.1em;
		font-weight: bold;
	}
	  #no-carousel .item .ikooba{
		color: #097A47;

	}
	  #no-carousel .item div p{
		font-size: 1.1em;
	}
	 #no-carousel .item img{
		width: 40%;
		height: 40%;
	}
	 .circular{
		width: 20px;
		height: 20px;
		border-radius: 10px;
		line-height: 1.4;
		font-size: 1em;
		margin-top: .7em;
	}
	 .cname{
		display: none;
	}

	  .cname2{
		display: block;
		color: #fff;
		text-shadow: 1px 1px #097A47;
	}
	 #settings{
		padding: 1em;
	}


	.ylist-container{
		margin: 1em;
	}








}
