body{
    background-color: rgba(244, 250, 244, 0.89);
    font-family: 'Raleway', sans-serif;
}
table{
    

    text-align: center;
    background-color: #fff;
    padding: 1em;
}
table td{
    padding: .5em;
    font-size: .85em;
    border-bottom: 1px solid gray;


}
table  tr:first-of-type td{
    font-weight: bold;
    background-color: rgba(244, 250, 244, 0.486);
    color: gray;
}
#fortablesections h1{
    background-color: #097A47;
    font-weight: bolder;
    color: #fff;
    font-size: 1.3em;
    width: 10em;
    padding: .25em;
    margin: .3em auto;
    margin-top: 1.6em;

}

#fortablesections section{
    text-align: center;
    /*margin-top: 10em;*/
    
}
#fortablesections section:target{
    text-align: center;
    /*margin-top: -10em;*/
    transition: 1s linear all;
    
}
.active {
    color: #fff;
    background-color: #097a09;
    border: 2px solid #fff;
}

#fortablesections table{
    margin: .7em auto;
}
#fortablesections table.table{
    margin: 2em auto !important;
}
.y-bmac-top-bar{
    background-color: #097A47;
    width: 100%;
    padding: 1em;
    
}
.y-bmac-brand{
    color: #fff;
    font-size: 1.6em;
    font-weight: bolder;
    padding: 1em;
}
.bmac h1{
    font-size: 1.8em;
    font-size: bolder;
    text-align: center;
    color: #097A47;
}
ul.y-nav{
    list-style: none;
}
ul.y-nav li{
    display: inline-block;
    padding: .4em;
    border: 1px solid gray;
}
ul.y-nav li a{
    text-decoration: none;
    color: gray;
}
ul.y-nav li.active a{
    color: #fff;
}
.y-nav-onscroll{
    position: fixed;
    top: 2px;
    right: 2px;
}