.nhead{
	text-align: left;
	margin-top: 100px;
	font-size: 70px !important;
}

.nparagraph{
	font-size:20px !important;
	text-align:left;
	margin-top:-20px;
}

button.slide-button{
	margin-right:200px;
	margin-top:20px;
	border-radius:50px
	padding:5px;

}

.nav-button{
	margin-top:-12px;
}


.lift-up{
	margin-top:-100px;
	text-align:left;
	padding-left:40px;
	
}

h1.lift-up{
	font-size:60px !important;
}

.para-slide{
	font-size:16px;
	text-align:left; 
}


.slideview{
	color:#0d7d45;
	font-family: lato;
	margin-left: -30px;	
}
.bmac{
	font-family: lato !important;
	font-size: 150px !important;
}

.heading{
	font-family: Lato !important;
	font-weight: bold;
	font-size: 40px !important;
	
}

.fprice{
	margin-top: -10px;
}
h1,h2,h3,h4,h5,h6,p{
	font-family: lato;
}

#nav > li > a{
	color:#0d7d45;
}

#nav > li > a:hover{
	color:#333;
}

.carousel-caption > div > h2 > .first{
	font-size: 120px;
	font-family: lato;
	
}
.navbar-inverse{
	background:#ffffff;
	color:#0d7d40;
	border:none;
	
}



header{
	border:none;
}

#logo{
	font-family: lato;
	font-weight: bolder;
	color:#0d7d40;
}
.slidetitle{
	font-size: 50px !important;
}

.get{

	font-size: 30px;
}


.bmacsoftware{
	background:#FFF;
	color:#000;
	font-family: lato;
	font-size: 14px;
}
.myp{
	font-size: 18px;
	font-family: lato;
	color:#000;

}

h3.myh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 1.7em;
	
}

h1.myh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 2.7em;
	
}


 .myhh{
	color:#0d7d40;
	font-weight: bolder;
	font-size: 45px !important;
	
}

.prof-two{
	background: hsla(0, 0%, 100%, 0.4);
	margin-top: -70px;
	padding:20px 5px 40px 5px;
	margin-bottom: -80px;
}



.imgone{
	width:50%;
	height:auto;

}


.imgtwo{
	width:40%;
	height:auto;
	margin-top:-50px;


}

.imgthree{
	margin-top:100px;
	width:30%;
	height:auto;	
	
}

.imgfour{
	margin-top:150px;
	
}
.middle{

	padding-top:50px;
	padding-bottom:50px;
}

.middle > h3{
	color:#0d7d40;
	font-family: lato;
}

.footclose{
	background: #0d7d40;
	color:#fff;
	font-family: lato;
	font-size: 14px;
	height: 80px;
	line-height:80px;

}

.imgfive{
	margin-top: 187px;
	margin-left:20px;
}

.row2{
	margin-top:100px;

}
.imghouse{
	margin-top: 200px;
}

.imgconnect{
	margin-top: 50px;
}

.imgchart{
	margin-top: 50px;	
}

.padding-0{
    padding-right:0px;
    padding-left:0px;
}


.listbmac{
	background: #fff;
	font-family: lato;
	color:#000;
	font-size: 16px;
}

.subscribe{
	background: #0d7d40;
	font-family: lato;
	font-weight: bolder;
}

.formletter{
	background:#fff;
	color:#000;
	font-family: lato;
	font-size: 18px;
	text-align: center;
}

.footh > h4{
	color:#000;
	font-family: lato;


}


.footh{
		background:hsla(0,0%,0%,0);
		color:#000;
}

.footh > ul{
	color:#000;
}

.rowfoot{
	padding-left:150px;
	padding-top:100px;
}

.rowmargin{
	margin-left::;px;
}

.footall > h4{
	color:#000;
	font-family: lato;
	font-weight: bolder;
	padding:2px;
	text-align: center;
	margin-top: 100px;

}

.footpara > a{
	font-family: lato;
	color:#000;

}

.footpara > a:hover{
	font-family: lato;
	color:#ccc;

}
.featured{
	background: hsla(0, 0%, 90%,0.9);
	padding-top:10px;
	padding-bottom: ;
}

.footnote{
	background: #fff;
	margin-top:-30px;
	padding-top:50px;
	padding-bottom:50px;
	color:#333;
	font-family: lato;
	font-size: 12px;
}


.fafoot{
	font-size: 30px;
	color:#0d7d45;
}

.fafoot:hover{
	font-size: 30px;
	color:#ccc;

}
.icon{
	padding-top:30px;
}

.marquee{
	color:#000;
	font-weight: bolder;
	font-family: lato;
	width:80%;
}

.collabo{
	margin-right:164px; 
	color:#000;
	font-family: lato;
}

.hrdiv{
	color:#000;
	font-family: lato;

}
.notebook{
	margin-left:250px;
	font-family: lato;
	color:#000;
}

.cloud{
	margin-left:50px;
	color:#000;
	font-family: lato;

}

.town{
	margin-left:180px;
	color:#000;
}

.placeholder{
background: url(../img/parallax/inner-img.png);
background-attachment: fixed;
background-repeat: cover;
min-height: 200px;

}
.priceh3{
	margin-top: -50px;
}
.price-title{
  color:#fff;
  font-weight: bolder;
  background: hsla(0,100%,100%,0);

}

.panel-head{
	background: #fff;
	border-radius: 0px;
	border: 1px solid #0d7d45;
	
}

.priceh > h3{
	color:#0d7d45;
	font-weight: bolder;
}



.panel-price{
	border-bottom-right-radius:40px; 
	border-bottom-left-radius: 0px;
}

.p-price{
	color:#000;
}


.footprice-background{
	background: #0d7d45;
}

.learn-price{
	color:#0d7d45;

}

.learn-price:hover{
	color:#000;
	
}

.panel-head:hover{
	 box-shadow: 5px 10px #888888;
	 border: 1px solid #0d7d45;
	 background: #ccc;
	 
}


.price-background{
	background: #FFF;
	padding-top:50px;

}

h1.price-title{
  color:#fff;
  font-weight: bolder;
  font-size:70px;
  background: hsla(0,100%,100%,0);
  font-family: lato;

} 



















@media  screen and (max-width: 700px) {


.learn-sm{
	font-size: 12px;
}

	.imgfive{
		margin-top: 170px;
		margin-left:20px;
	}

	.slidetitle{
		font-size: 30px !important;
	}


	.collabo{
		margin-right:164px; 
		color:#000;
		font-family: lato;
		font-size: 10px;
	}

	.hrdiv{
		color:#000;
		font-family: lato;
		font-size: 10px;

	}
	.notebook{
		margin-right:550px;
		font-family: lato;
		color:#000;
		font-size: 10px;
	}

	.cloud{
		margin-left:50px;
		color:#000;
		font-family: lato;
		font-size: 10px;

	}

	.town{
		margin-left:180px;
		color:#000;
		font-size: 10px;
	}










}


@media  screen and (min-width: 300px) and (max-width: 700px) {



.carousel-caption > div > h2 > .first{
	font-size: 40px;
	text-shadow: 6px 6px #0d7545;
}
	.collabo{
		margin-right:164px; 
		color:#000;
		font-family: lato;
		font-size: 5px;
	}

	.hrdiv{
		color:#000;
		font-family: lato;
		font-size: 5px;

	}
	.notebook{
		margin-right:0px;
		margin-left:0px;
		font-family: lato;
		color:#000;
		font-size: 5px;
	}

	.cloud{
		margin-left:50px;
		color:#000;
		font-family: lato;
		font-size: 5px;

	}

	.town{
		margin-left:0px;
		color:#000;
		font-size: 5px;
	}

.bmac{
	font-family: Brush Script MT !important;
	font-size: 30px !important;
}

.heading{
	font-family: Lato !important;
	font-weight: bold;
	font-size:18px !important;
	
}

.nhead{
	text-align: left;
	font-size: 18px !important;
}

.nparagraph{
	font-size:10px !important;
	text-align:left;
	margin-top:-20px;
}



button.slide-button{
	margin-right:200px;
	margin-top:20px;
	border-radius:50px
	display:none;
	padding:5px;

}

.nav-button{
	margin-top:-12px;
}


.lift-up{
	margin-top:-100px;
	text-align:left;
	padding-left:40px;
	
}

h1.lift-up{
	font-size:30px !important;
}






}







@media  screen and (max-width: 299px){

h1.lift-up{
	font-size:30px !important;
}



button.slide-button{
	margin-left:25px;
	

}



}