.navbar-default .navbar-nav>li>a {
    color: #097a47!important;
    font-family: step-count;
    font-size: 20px!important;
}

.alert {
    color: #ffffff!important;
    background-color: #097a47!important;
    #cbe5a8!important
    /*border-color: none!important;*/
    border-image-slice: 20%!important;
}

.submit, .previous{
	font-family: step-count;
    font-weight: bolder;
}

.next {
	background-color: #cbe5a8!important;
    border: none!important;
    color: #097a47!important;
    font-family: step-count;
    font-weight: bolder;
}

.step-count {
	font-family: step-count;
	font-size: 20px;
}

.skip-btn {
	float: right!important;
	font-size: 14px!important;
	color: #cbe5a8!important;
} 

#regiration_form fieldset:not(:first-of-type) {
	display: none;
}

.progress {
    background-color: #d9edf7!important;
}

.progress-bar {
    background-color: #cbe5a8!important;
    color: #097a47!important;
}

.form-control {
    border: 1px solid #d9edf7!important;
}

textarea { 
   /* will prevent resizing horizontally */
   resize:none;
}

.form-control {
    border: 1px solid #d0ece0!important;
}

.navbar-default {
    background: none!important;
}

.ikooba-logo {
    padding-top: 5px;
    width: 115px;
}

@font-face {
    font-family: mainfont;
    src: url(../fonts/Swiss_721_SWA.ttf);

}

@font-face {
    font-family: step-count;
    src: url(../fonts/Futura.ttf);

}


body {
    font-family: mainfont;
    font-weight: bolder;
}